In [20]:
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from scipy.stats import norm
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp
import pandas as pd
import seaborn as sns
import os

In [5]:
myData = pd.read_csv("A & B shingles-1.csv")

In [6]:
myData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       36 non-null     float64
 1   B       31 non-null     float64
dtypes: float64(2)
memory usage: 704.0 bytes

In [11]:
myData.describe().T

   count      mean       std   min     25%   50%     75%   max
A   36.0  0.316667  0.135731  0.13  0.2075  0.29  0.3925  0.72
B   31.0  0.273548  0.137296  0.10  0.1600  0.23  0.4000  0.58

In [8]:
myData.isna().sum()

A    0
B    5
dtype: int64

In [9]:
myData['A'].mean()

0.3166666666666666

In [25]:
myData['B'].mean()

0.2735483870967742

3.1 Do you think there is evidence that mean moisture contents in both types of shingles are within the permissible limits? State your conclusions clearly showing all steps.Refer the document for the analysis in details.

In [21]:
# 1 Sampl T- tst
t_val,p_val = ttest_1samp(myData['A'],0.35)
print(t_val," ",p_val)

-1.4735046253382782   0.14955266289815025

In [24]:
# 1 Sampl T- tst
t_val,p_val = ttest_1samp(myData['B'],0.35,nan_policy='omit')
print(t_val," ",p_val)

-3.1003313069986995   0.004180954800638365

3.2 Do you think that the population mean for shingles A and B are equal? Form the hypothesis and conduct the test of the hypothesis. What assumption do you need to check before the test for equality of means is performed? Refer the document for the analysis in details

In [18]:
# 2 Sampl T- tst
t_val,p_val = ttest_ind(myData['A'],myData['B'],nan_policy='omit')
print(t_val," ",p_val)

1.2896282719661123   0.2017496571835306